/* NavBar.module.css */
.navbar {
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* everything aligns to left */
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
