.navbar {
  width: 100%;
  padding: 0.5rem 1rem;
}
.container {
  display: flex;
  justify-content: space-between; /*push to edges*/
  align-items: center;
  gap: 2rem;
}

.container a:hover {
  color: #0b135f;
  border-bottom: 2px solid #0b135f;
  cursor: pointer;
}
