.container {
  overflow: visible;
  position: relative;
  z-index: 1;
}
.id {
  display: flex;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.title {
  margin: 0 auto;
  padding: 1rem;
}

.title h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.below {
  display: flex;
  width: 100%;
}
