@import "tailwindcss";

:root {
  --background: #dedede;
  --foreground: #2b2e33;
}

[data-theme="dark"] {
  --background: #2b2e33;
  --foreground: #dedede;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}
