/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/about/about.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.about_container__lvOka {
  padding: 1rem;
}

.about_studentInfo__B8e3_ p {
  font-size: 1rem;
  font-weight: bold;
}

.about_vid__YSOXk {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

