/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Components/Auth.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Auth_container__Byc9l {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 0;
  background-color: #1e1e1e;
  padding: 20px;
}
.Auth_container__Byc9l::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*ref: https://www.krakit.ca/*/
  background-image: url("/escape-room.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.Auth_form__yh4jj {
  background-color: #272626;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
}

.Auth_title___dxjk {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #1ba7b9;
}

.Auth_inputGroup__Kh1iN {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Auth_input__lerjY input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}

.Auth_input__lerjY input::placeholder {
  color: #aaa;
}

.Auth_input__lerjY input:focus {
  outline: none;
  box-shadow: 0 0 5px #1ba7b9;
}

.Auth_submitBtn__f67Ea {
  width: 100%;
  padding: 0.75rem;
  background-color: #1ba7b9;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Auth_submitBtn__f67Ea:hover {
  background-color: #004c5f;
}

.Auth_error__0unHM {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Auth_prompt__8cd6T {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.Auth_directLink__9u1ql {
  color: #1ba7b9;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 0.25rem;
}

.Auth_directLink__9u1ql:hover {
  color: #004c5f;
}

